.container__form{
    max-width: 500px;
    text-align: center;
}


.input-custom,
.txt-custom{
    width: 100%;
    padding: 10px 22px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--color-title-blank);
    color: var(--color-title-2);
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.form-dark>.input-custom,
.form-dark>.txt-custom{
    background-color: var(--color-p);
    color: var(--color-title-blank-2);
}

.input-custom:focus,
.txt-custom:focus{
    background-color: var(--color-title-blank-2);
    transition: all .3s ease-in;
    border: 1px solid var(--color-secondary-2);
}

.form-dark>.input-custom:focus{
    background-color: var(--color-title-1);
}

.input-custom::placeholder,
.option-disable-custom{
    color: var(--color-form-text);
}

.form-col{
    width: 100%;
    display: flex;
}

.form-col>input:first-of-type{
    width: 60%;
    margin-right: 25px;
}

.form-col>input:last-of-type{
    width: 40%;
}

.form-dark>.form-col>.input-custom{
    background-color: var(--color-p);
    color: var(--color-title-blank-2);
}

.form-dark>.form-col>.input-custom:focus{
    background-color: var(--color-title-1);
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: auto;
}

.input-number{
    -moz-appearance: textfield;
}

.txt-custom{
    height: 200px;
    box-sizing: border-box;
    resize: none;
}

.form-dark>.txt-custom:focus{
    background-color: var(--color-title-1);
}

.txt-custom::placeholder{
    color: var(--color-form-text) !important;
}

.btn-form-custom{
    margin-bottom: 10px;
}

@media (max-width: 767px) and (min-width: 280px){
    .container__form{
        max-width: 90%;
        margin: auto;
    }
    
    .content__form{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    .input-custom,
    .txt-custom{
        width: 100%;
        padding: 10px 22px;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: var(--color-title-blank);
        color: var(--color-title-2);
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    .input-custom:focus,
    .txt-custom:focus{
        background-color: var(--color-title-blank-2);
        transition: all .4s ease-in;
    }
    
    .input-custom::placeholder,
    .option-disable-custom{
        color: var(--color-form-text);
    }
    
    .form-col{
        width: 100%;
        display: block;
    }
    
    .form-col>input:first-of-type{
        width: 100%;
        margin-right: 25px;
    }
    
    .form-col>input:last-of-type{
        width: 100%;
    }
    
    .input-number::-webkit-inner-spin-button,
    .input-number::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: auto;
    }
    
    .input-number{
        -moz-appearance: textfield;
    }
    
    .txt-custom{
        height: 200px;
        box-sizing: border-box;
        resize: none;
    }
    
    .txt-custom::placeholder{
        color: var(--color-form-text) !important;
    }
    
    .btn-form-custom{
        margin-bottom: 10px;
    }
}