main{
    background-color: var(--color-backgroung-black);
}

/* #region BANNER*/
.container__banner{
    max-width: 100%;
    height: 700px;
    background: linear-gradient(360deg, #0D0D0E 5.57%, rgba(13, 13, 14, 0.45977) 25.40%, rgba(0, 0, 0, 0) 45.65%), linear-gradient(90deg, rgba(13, 13, 14, 0) 0%, #0D0D0E 91.68%), url(../../img/service-online/IMG_5027.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    overflow: hidden;
}

.banner-content{
    margin: auto;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 450px;
}

.banner-content-title{
    font-size: 72px;
    text-align: center;
    line-height: 100px;
    color: var(--color-white);
}

.banner-content-description{
    color:  var(--color-white);
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
}

.banner-content-btn{
    text-align: center;
    margin-left: 20px;
}

.banner-content-btn>a{
    margin-right: 20px;
}

@media(max-width: 1366px) and (min-width: 1200px){
    .container__banner{
    height: 600px;
    }
}

@media(max-width: 1199px) and (min-width: 992px){
    .container__banner{
        height: 500px;
    }
}

@media(max-width: 991px) and (min-width: 768px){
    .container__banner{
        height: 450px;
    }

    .banner-content{
        margin-top: 13%;
        max-width: 300px;
    }
    
    .banner-content-title{
        font-family: 'Jost', sans-serif;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        line-height: 60px;
        color: var(--color-white);
    }
    
    .banner-content-description{
        color:  var(--color-white);
        font-weight: 500;
        margin: 15px 0;
        text-align: center;
    }
}


@media(max-width: 767px) and (min-width: 425px){
    .container__banner{
        height: 380px;
    }

    .banner-content{
        margin: auto;
        margin-top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 250px;
    }
    
    .banner-content-title{
        font-size: 40px;
        line-height: 50px;
    }
    
    .banner-content-description{
        display: none;
    }

    .banner-content-btn>a{
        display: inline-block;
        margin-top: 20px;
    }
}

@media(max-width: 424px) and (min-width: 280px){
    .container__banner{
        max-height: 350px;
    }

    .banner-content{
        margin: auto;
        margin-top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 250px;
    }
    
    .banner-content-title{
        font-size: 40px;
        line-height: 50px;
    }
    
    .banner-content-description{
        display: none;
    }

    .banner-content-btn{
        margin-top: 30px;
    }
}

/* #endregion BANNER*/

/* #region INFO */
.container__service-info{
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
}

.content__service-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-info-transmission{
    color: var(--color-white);
    text-align: center;
    padding: 20px 30px;
}

.service-info-transmission>span{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 10px;
}

.service-info-transmission-clock>p{
    font-size: 32px;
}

.service-info-transmission-clock>p>span{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: var(--color-secondary-1);
}

.service-info-transmission-clock{
    margin-top: 30px;
}

.service-info-schedule{
    color: var(--color-white);
    padding: 20px 30px;
}

.service-info-schedule>h1{
    text-align: center;
}

.service-info-schedule>p{
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid var(--color-background);
    margin-bottom: 20px;
    margin-top: 15px;
}

.service-info-schedule>p>span{
    text-align: right;
    font-weight: 500;
}

.span_position_schedule{
    float: right;
    margin-left: 20px;
}

.elementor-dividor-table-red{
    margin: auto;
}

.elementor-dividor-table-red::after{
    content: '';
    display: block;
    margin: auto;
    width: 5px;
    height: 200px;
    border-radius: 50px;
    background: var(--color-white);
    text-align: center;
}

@media(max-width: 1199px) and (min-width: 992px) {
    .container__service-info{
        max-width: 92%;
    }

    .service-info-transmission{
        padding: 20 10px;
    }

    .service-info-schedule{
        padding: 20 10px
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .container__service-info{
        max-width: 60%;
    }
    
    .content__service-info{
        
        display: block;
    }
    
    .service-info-transmission-clock>p{
        font-size: 26px;
    }
    
    .service-info-transmission-clock>p>span{
        font-size: 38px;
    }
    
    .service-info-schedule>h1{
        text-align: center;
    }
    
    .service-info-schedule>p,
    .service-info-schedule>p>span{
        font-size: 18px;
    }

    .elementor-dividor-table-red::after{
        width: 90%;
        height: 5px;
        margin: 30px auto;
    }
}

@media (max-width: 767px) and (min-width: 280px){
    .container__service-info{
        max-width: 90%;
    }
    
    .content__service-info{
        padding: 0;
        display: block;
    }
    
    .content__service-info{
    }
    

    .service-info-transmission-clock>p{
        font-size: 26px;
    }
    
    .service-info-transmission-clock>p>span{
        font-size: 38px;
    }
    
    .service-info-transmission-clock{
        margin-top: 30px;
        padding: 0;
    }
    
    .service-info-schedule{
        color: var(--color-white);
        padding: 0;
        margin: auto;
    }
    
    .service-info-schedule>h1{
        text-align: center;
    }
    
    .service-info-schedule>p,
    .service-info-schedule>p>span{
        font-size: 13px;
    }

    .elementor-dividor-table-red::after{
        width: 90%;
        height: 5px;
        margin: 30px auto;
    }
}

/* #endregion */

/* #region SERVICE STREAMING */
.container__service-streaming{
    margin: 10px 0 40px 0;
    max-width: 850px;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
}

.content__service-streaming{
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-title-1);
}

.service-streaming-header{
    padding-top: 30px;   
}

.service-streaming-header>p{
    color: var(--color-p-blank);
    margin-top: 10px;
}

.container__streaming-box{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.streaming-box{
    width: 280px;
    height: 160px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.streaming-box>a>img:hover{
    transform: scale(1.2);
}

.streaming-box>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}

@media(max-width: 1199px) and (min-width: 992px) {
    .container__service-streaming{
        max-width: 80%;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .container__service-streaming{
        max-width: 80%;
    }
}

@media (max-width: 767px) and (min-width: 280px){
    .container__service-streaming{
        max-width: 95%;
        border-radius: 20px;
    }
}


/* #endregion */

/* #region AD PODCAST */
.container__ad-podcast{
    display: flex;
    margin: 30px auto;
    max-width: 800px;
}

.content__ad-podcast{
    margin: auto;
    background-color: var(--color-ad-podcast);
    border-radius: 30px;
    padding: 20px 25px;
}

.ad-podcast-description{
    float: right;
    text-align: center;
    color: var(--color-white);
    padding: 30px 40px;
}
.ad-podcast-description>h1{
    width: 300px;
    margin-bottom: 20px;
}

.ad-podcast-description>p{
    color: var(--color-white);
}
.ad-podcast-description>a>i{
    font-size: 20px;
    margin-right: 4px;
    margin-top: 40px;
}

.ad-podcast-img{
    float: left;
    width: 330px;
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
}

.ad-podcast-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) and (min-width: 768px){
    .content__ad-podcast{
        padding: 20px 25px;
    }
    
    .ad-podcast-description{
        padding:  0;
    }
    
    .ad-podcast-img{
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 767px) and (min-width: 280px){
    .container__ad-podcast{
        display: block;
        margin: 20px auto;
        max-width: 80%;
    }
    
    .content__ad-podcast{
        margin: auto;
        background-color: var(--color-ad-podcast);
        border-radius: 20px;
        padding: 20px 0px;
        max-width: 360px;
    }
    
    .ad-podcast-description{
        float: none;
        text-align: center;
        color: var(--color-white);
        padding: 0 10px;
    }
    .ad-podcast-description>h1{
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .ad-podcast-description>p{
        width: auto;
        color: var(--color-white);
    }
    .ad-podcast-description>a>i{
        font-size: 20px;
        margin-right: 4px;
        margin-top: 30px;
        width: auto;
    }
    
    .ad-podcast-img{
        float: none;
        display: none;
        width: 220px;
        height: 220px;
        margin: 30px auto 40px auto;
    }
}


/* #endregion */

/* #region LAST CULTS*/
.container__lasts-cults{
    margin: auto;
    margin-bottom: 40px;
    max-width: 1200px;
    height: 530px;
    padding: 20px;
    background-color: var(--color-title-1);
    border-radius: 40px;
}

.lasts-cults__section{
    text-align: center;
}

.lasts-cults__section h1{
    color: var(--color-white);
}

.lasts-cults__section p{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    color: var(--color-p-blank);
}

.container__card-lc{
    margin: 20px auto 0 auto;
}

.card__lc-box{
    display: flex;
}

.card__lc{
    width: 270px;
    margin: auto;
}

.card__lc-img{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.card__lc-img img{
    width: 100%;
    object-fit: cover;
}

.card__lc-info{
    text-align: center;
    color: var(--color-p-blank);
}

.card__lc-info h1{
    margin-top: 22px;
    font-family: 'Lexend', sans-serif;
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.card__lc-info p{
    margin-top: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.card__lc-info p>i{
    font-size: 15px;
}

.btn_lasts-cults{
    margin: 60px auto 0px auto;
    text-align: center;
}


@media (max-width: 991px) and (min-width: 768px){

    .container__lasts-cults{
        height: auto;
        max-width: 600px;
        padding: 30px 10px;
    }
    
    .lasts-cults__section h1{
        margin-top: 10px;
        color: var(--color-white);
    }
    
    .lasts-cults__section p{
        margin-top: 30px;
    }
    
    .container__card-lc{
        margin: 20px auto 0px auto;
        max-width: 720px;
    }
    
    .lasts-cults__section p{
        margin-top: 20px;
        width: 100%;
    }
    
    .container__card-lc{
        margin: 20px auto 0px auto;
    }
    
    .card__lc-box{
        display: block;
    }

    .card__lc{
        padding-top: 20px;
    }
    
    
    .card__lc-info h1{
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
    }
    
    .card__lc-info p{
        margin-top: 8px;
        font-size: 14px;
    }
    
    .card__lc-info p>i{
        font-size: 13px;
    }
    
    .btn_lasts-cults{
        margin: 50px auto 0px auto;
        text-align: center;
    }
    
    .card__lc-info{
        text-align: center;
        color: var(--color-p-blank);
    }
    
    .btn_lasts-cults{
        margin: 40px auto 0px auto;
        text-align: center;
    }
}

@media (max-width: 767px) and (min-width: 280px){
    .container__lasts-cults{
        max-width: 90%;
        height: auto;
        padding: 30px 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .lasts-cults__section p{
        margin-top: 20px;
        width: 100%;
    }
    
    .container__card-lc{
        margin: 20px auto 0px auto;
    }
    
    .card__lc-box{
        display: block;
    }
    
    .card__lc{
        width: 250px;
        margin: 0 auto 30px auto;
    }
    
    .card__lc-img{
        height: 130px;
    }
    
    .card__lc-info h1{
        margin-top: 15px;
        font-size: 18px;
    }
    
    .card__lc-info p{
        margin-top: 8px;
        font-size: 14px;
    }
    
    .card__lc-info p>i{
        font-size: 13px;
    }
    
    .btn_lasts-cults{
        margin: 50px auto 0px auto;
        text-align: center;
    }
}

/* #endregion */
